@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    
    color: white;
    padding: 20px 50px;
    width: 100%;
    background: black;
  
}
.navtop{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 25px;
    border-radius: 10px;

}
.searchinput{
    border: none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgray;
}

.limitedoffer{
    font-size: 17px;
    /* border-bottom: 2px solid lightslategray; */
    cursor:pointer;
    padding: 10px;
}
.limitedoffer a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.limitedoffer a:hover{
    color: lightslategray;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    background-color: antiquewhite;
    width: 100%;
   
    
}
.main-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.main-content .main-img img{
    width: 100%;
    height: 100vh;

    object-fit: cover;
}
.main-content .con-text{
    width: 100%;
}
.main-content .con-text h3{
    font-size: 35px;
    padding: 0 10px;
    margin-bottom: 5px;
}
.main-content .con-text p{
  
   color: black;
   padding: 10px;
   text-align: left;
}
.main-content .like-content{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 10px;

}
.main-content .like-content i{
    font-size: 35px;
    padding: 20px;
}

.main-content .main-img span{
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: left;
    
}
.main-content .con-text span{
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    
}
.comment{
    display: flex;
    flex-direction: column;

}
.comment form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment .submit:hover{
    color: yellowgreen;
}
.comment input{
    width: 400px;
    height: 150px;
    border-radius: 10px;
}
.comment .submit{
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 5px;
    transition: 0.5s ease-in-out;
}
.comment h3{
    text-align: center;
    margin-bottom: 5px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid yellowgreen;
    /* background: gray; */
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
color: yellowgreen;
font-size: 20px;
font-weight: bold;
}
.blog-heading h3{
    font-size: 45px;
    font-weight: 800;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    margin: 20px;
    transition: transform 0.5s;
}
.blog-box:hover{
    transform: translateY(-8px);
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.text span{
    color: red;
    font-size: 15px;
}
.text .blog-title{
font-size: 25px;
font-weight: bold;
color: black;
}
.text .blog-title:hover{
color: blue;
transition: 0.5s;
}
.text p{
    color: grey;

    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}
.text .read{
    color: white;
    background: black;
    padding: 5px 10px;
    text-align: center;
}
.text .read:hover{
    color: yellowgreen;
    transition: 0.5s ease-in-out;
}
.New-post{
    width: 100%;
    height: 100vh;
    background: antiquewhite;
    padding: 20px;
}
.swiper .mySwiper{
    height: 450px;
    padding: 20px;
    margin-bottom: 40px;
}
.swiper-wrapper{
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.swiper-slide{
    width: 250px;
    height: 300px;
    border-radius: 7px;

}
.swiper-slide img{
    width: 100%;
    height: 300px;
    border-radius: 7px;
    
}
/* .swiper-slide-active{
    transform: scale(1.2);
    transition: 0.5s ease;
} */
.swiper-pagination{
    bottom: 0 !important;
   color: black;
}
.swiper-slide .detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background: black;
}

.swiper-slide .detail .type{
    display: flex;
    flex-direction: column;
   
}
.swiper-slide .detail .type a{
    color: white;
    margin: 5px 0px;
    font-weight: bold;
    padding-right: 8px;
}
.swiper-slide .detail .type span{
    color: grey;
}
.swiper-slide .detail .price{
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.swiper-button-next{
    color: white;
    background-color: black;
    
}
.swiper-button-prev{
    color: white;
    background-color: black;
}
footer{
    background: black;
}
.foot-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-content .logo img{
width: 250px;
margin-bottom: 10px;
}
.foot-content .useful-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.foot-content .useful-links h3{
    font-size: 25px;
    color: gray;
    background-color: white;
    padding: 5px 20px;
    margin-bottom: 5px;
}
.foot-content .useful-links ul li{
    list-style: none;
    padding: 10px;
    text-align: center;
    
}
.foot-content .useful-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
.foot-content .useful-links ul li a:hover{
    color: yellowgreen;
}
.foot-content .follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-content .follow h3{
color: gray;
background-color: white;
padding: 5px 20px;
font-size: 25px;
}
.foot-content .download{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-content .download h3{
    color: gray;
background-color: white;
padding: 5px 20px;
font-size: 25px;
margin-bottom: 5px;
}
.d-img{
    padding: 10px;
}
.d-img a{
    padding: 5px;
}